<h1>Hi, dear friend</h1>
<h2>Please, sign in or sign up</h2>
<% if @user == nil %>
<p><%= link_to "Sign up", new_user_path %> | <%= link_to "Sign in", login_path %></p>
<% else %>
<p><%= link_to "Profile", user_path(@user.id)  %> | <%= link_to "Sign out", user_path(@user.id), method: :delete %></p>
<% end %>
